@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import "primeicons/primeicons.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@import "@/assets/styles/common/minesweeper.scss";